*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    
   
  }
  
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'DM Sans', sans-serif;
    
}

  /*--------------------------------*/
  .navbar{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 13px 0;
    border-bottom: 1px solid grey;
    
  }


  .logo{
    border: 1px solid white;
    margin: 0 30px;
  }
  
  .menu-items{
    border: 1px solid white;
    word-spacing: 50px;
    margin: auto;
    
    
  }
  
  .menu-items a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border: 1px solid white;
  }
  
  .menu-items a:hover{
    color: rgb(173, 173, 173);
  }
  
  .searchbox{
    margin: 0 30px;
  }
  
  #search-box {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
  }
  
  #search-box #search-text{
    background: none;
    border: none;
    outline: none;
    background-color: none;
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.5s;
    
  }
  
  #search-box:hover #search-text, #search-box #search-text:valid{
    width: 300px;
    padding: 10px 15px;
  }
  
  #search-box #search-btn{
    background-color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 50%;
    
  }
  
  #search-box #search-btn i{
   
    padding: 5px 5px;
  }

  /*--------------------------*/

.contact-form{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 150px;
 
}


.contact-form .name-form{
  padding: 10px 0;
  
}

.contact-form .name-form > input {
  height: 50px;
  width: 300px;
  text-indent: 25px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  border: 1px solid grey;
 
}

.contact-form .name-form > input:focus {
  outline: none;
}

.contact-form .phone-form{
  padding: 10px 0;
}

.contact-form .phone-form > input{
  height: 50px;
  width: 605px;
  text-indent: 25px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  border: 1px solid grey;
}

.contact-form .phone-form > input:focus{
  outline: none;
}
.contact-form .email-form{
  padding: 10px 0;
}

.contact-form .email-form> input{
  height: 50px;
  width: 605px;
  text-indent: 25px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  border: 1px solid grey;
}

.contact-form .email-form > input:focus{
  outline: none;
}

.contact-form .message-form{
  margin: 7px 0;
}

.contact-form .message-form> textarea{
  height: 150px;
  width: 605px;
  text-indent: 25px;
  border-radius: 8px;
  font-family: 'DM Sans', sans-serif;
  padding: 10px 0;
  border: 1px solid grey;
}

.contact-form .message-form > textarea:focus{
  outline: none;
}

.contact-form .submit-btn > input{
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #ffffff;
  color: grey;
  padding: 0px 20px;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 7px 0;
  border: 1px solid grey;
}

.contact-form .submit-btn > input:hover{
  background-color: rgb(218, 218, 218);
}

/*---------------------------------*/

.info{
 
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: relative  ;
  border-top: 1px solid grey;
}

.info .contact{
  width: 33.33%;
 
}

.info .contact ul{
  list-style-type: none;
  margin: 100px 100px;
  text-align: center;
  
}

.info .contact ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight:lighter;
}

.info .services{
  width: 33.33%;
  
}

.info .services ul{
  list-style-type: none;
  margin: 100px 100px;
  text-align: center;
}

.info .services ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight:lighter;
}

.info .follow-us{
  width: 33.33%;
  
}

.info .follow-us ul{
  list-style-type: none;
  margin: 100px 150px;
  text-align: center;
}

.info .follow-us ul li{
  display: inline;
}

.info .follow-us ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight:lighter;
  padding: 5px;
 
}
.info .follow-us ul li a:hover{
  color: gray;
}

.info .services ul li a:hover{
  color: gray;
}

.info .contact ul li a:hover{
  color: gray;
}

/*------------------------------------*/
.container1{
  width: 1360px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.container1 .rule{
  
  padding: 30px 50px;
  margin: 10px 0;
  
}

.container1 .rule a{
  padding: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  
}

.container1 .language{
  padding: 30px 80px;
  margin: 10px 0;
  
}

.container1 .language a{
  text-decoration: none;
  color: black;
}

.container1 .rule a:hover{
  color: grey;
}

.copyright{
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 30px 0px;
}


   
  
    
